rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menuItems/{doc} {
      allow read, write: if true;
    }
    match /orders/{doc} {
      allow read, write: if true;
    }
    match /aiRecommendations/{doc} {
      allow read, write: if true;
    }
  }
}
